.preview-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    margin-bottom: 25px;
}

.task-container {
    width: 235px;
    height: 120px;
    margin: 12px;
}

.task-preview-link {
    color: inherit;
}

.task-preview-link:hover {
    text-decoration: none;
}

.task-preview {

    box-sizing: border-box;
    border: 1px solid dimgray;
    padding: 12px;
}

.task {
    box-sizing: border-box;
    border: 1px solid #1e98a5;
    border-radius: 10px;
    background-color: #1e98a5;
    padding: 15px 35px;
    color: #fff;
    /*text-align: center;*/
}

.drop-lists {
    display: flex;
    justify-content: space-around;
}

#tasksearch-created_at_month     {
    width: 140px;
}

.task-buttons {
    display: flex;
    justify-content: space-between;
}

.lang {
    list-style-type: none;
    display:flex;
    justify-content: flex-end;
}

.message-area {
    width: 400px;
    height: 100px;
    color: #000;
}

.project-link {
    text-decoration: none;
    color: #FFFFFF;
}

.project-link:hover {
    color: #FFFFFF;
}